:root {
  all: unset;
  margin: 0px;
  padding: 0px;

  --primary: lch(70.74% 99.57 75.63);
  --secondary: oklch(86.62% 0.091 76.76);
  --tertiary: oklch(80.44% 0.153 76.76);

  --gstart: oklch(50.15% 0.148 297);
  --gend: oklch(79.56% 0.15 104.29);

  --text-light: oklch(100% 0 0);
  --text-dark: oklch(0% 0 0);

  --ared: oklch(58% 0.15 23.82);
}

button {
  all: unset;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
}

body {
  background: black;
}

.primary {
  background: var(--primary);
  color: var(--text-light);

  &:hover {
    color: var(--text-dark);
  }
}

.secondary {
  background: var(--secondary);
  color: var(--text-light);

  &:hover {
    color: var(--text-dark);
  }
}

.tertiary {
  background: var(--tertiary);
  color: var(--text-light);

  &:hover {
    color: var(--text-dark);
  }
}

.gradient {
  background: linear-gradient(in lab to bottom, var(--primary), var(--ared)); 
  /* background: linear-gradient(in oklch to right, #de72c6, #2dcde4); */
}

.title {
  font-size: 6rem;
  text-align: center;
  background: linear-gradient(in lch to right, var(--gstart), var(--gend)); 
  background-clip: text;
  color: transparent;
}

