/* @import url('https://fonts.googleapis.com/css?family=Inter'); */

:root {
  --light-bg: oklch(74.56% 0.141 76.76);
  --light-secondary-bg: hsl(0, 0%, 90%);
  --light-text: hsl(0, 0%, 5%);
  --light-secondary-text: hsl(0, 0%, 10%);
  --light-tertiary-text: hsl(0, 0%, 25%);

  --dark-bg: oklch(22% 0.059 271.59);
  --dark-secondary-bg: hsl(0, 0%, 15%);
  --dark-text: hsl(0, 0%, 95%);
  --dark-secondary-text: hsl(0, 0%, 90%);
  --dark-tertiary-text: hsl(0, 0%, 78%);

  --primary: oklch(74.56% 0.249 135);
  --secondary: oklch(86.62% 0.091 76.76);
  --tertiary: oklch(80.44% 0.153 76.76);

  /* color-scheme: light dark; */
  all: unset;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Inter'; */
}

body {
  color: var(--light-text);
  margin: 0;
  padding: 0;

  &.dark {
    background: var(--dark-bg);
    color: var(--dark-text);
  }
}

h1 {
  color: var(--light-text);
  font-weight: 900;
  font-size: 3rem;
  text-align: center;

  &.dark {
    color: var(--dark-text);
    font-weight: 900;
  }
}

h2 {
  color: var(--light-text);
  font-weight: 700;

  &.dark {
    color: var(--dark-text);
    font-weight: 700;
  }
}

h3, h4 {
  color: var(--light-text);
  font-weight: 600;

  &.dark {
    color: var(--dark-text);
    font-weight: 600;
  }
}

p {
  color: var(--light-tertiary-text);

  &.dark {
    color: var(--dark-tertiary-text); 
  }
}

header {
  background: oklch(70% 0.1658 261.72 / 50%);
  border-bottom: 0;
  padding: 2rem;

}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

.article {
  /* background: var(--light-bg); */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  &.dark {
    /* background: var(--dark-bg); */
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.layout {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background: unset;
  text-decoration: none;
  border: 0px;
}

.filler {
  height: 50dvh;
}

footer {
  padding: 4px;
  margin-bottom: 0;
  margin-top: 20px;
  color: var(--light-secondary-text);
}

nav {
  display: flex;
  padding: 8px;

  & a {
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    vertical-align: bottom;
  }

  & .nav-filler {
    flex-grow: 1;
    padding: 1rem;
  }

  &.dark {
    & svg {
      color: white;
    }
  }
}

a {
  color: black;
  &:visited {
    color: black;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.biking {
  display: grid;

  grid-template-areas: 
  "header header"
  "section figure";

  & > header {
    grid-area: header;
    text-align: center;
  }

  & > section {
    grid-area: section;
  }

  & > figure {
    grid-area: figure;
    padding: 4px;
    border: 1px solid black;

    width: 80%;
    height: calc(width);

    > img {
      width: inherit;
      height: inherit;
    }
  }
}
