/* @import url('https://fonts.googleapis.com/css?family=Inter'); */

:root {
  all: unset;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter';

  --tertiary: oklch(74.56% 0.249 135);
  --primary: oklch(86.62% 0.091 76.76);
  --secondary: oklch(80.44% 0.153 76.76);

  &:has(input[type="checkbox"]:not(:checked)) {
    --bg: oklch(74.56% 0.141 76.76);
    --text: oklch(5% 0 0);
    --text2: oklch(10% 0 0);
    --text3: oklch(25% 0 0);
  }

  &:has(input[type="checkbox"]:checked) {
    --bg: oklch(22% 0.059 271.59);
    --text: oklch(95% 0 0);
    --text2: oklch(90% 0 0);
    --text3: oklch(78% 0 0);
  }
}


@layer test {
  body {
    margin: 0;
    padding: 0;
    background: var(--bg);
  }

  :is(p, h1, h2, h3, h4, h5, h6) {
    color: var(--text);
  }

  h2 {
    font-weight: 700;
  }

  :is(h3, h4) {
    font-weight: 600;
  }

  :is(h5, h6) {
    font-weight: 500;
  }

  h1 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
  }
}


header {
  background: color-mix(in oklab, var(--bg), var(--text3));
  border-bottom: 0;
  padding: 2rem;

}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

.article {
  /* background: var(--light-bg); */
  background: var(--bg);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.layout {
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background: unset;
  text-decoration: none;
  border: 0px;
}

.filler {
  height: 50dvh;
}

footer {
  padding: 4px;
  margin-bottom: 0;
  margin-top: 20px;
  color: var(--text);
}

.navbar {
  display: flex;
  padding: 8px;

  & a {
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
    vertical-align: bottom;
  }

  & .nav-filler {
    flex-grow: 1;
    padding: 1rem;
  }

  & svg {
    display: inline;
    color: white;
  }
}

a {
  color: black;

  &:visited {
    color: black;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}
