:root {
  --light-bg: hsl(0, 0%, 95%);
  --light-secondary-bg: hsl(0, 0%, 90%);
  --light-text: hsl(0, 0%, 5%);
  --light-secondary-text: hsl(0, 0%, 10%);
  --light-tertiary-text: hsl(0, 0%, 25%);

  --dark-bg: hsl(0, 0%, 13%);
  --dark-secondary-bg: hsl(0, 0%, 15%);
  --dark-text: hsl(0, 0%, 95%);
  --dark-secondary-text: hsl(0, 0%, 90%);
  --dark-tertiary-text: hsl(0, 0%, 78%);
  color-scheme: light dark;
  all: unset;
}


body {
  background: var(--light-bg);
  color: var(--light-text);
}

body.dark {
  background: var(--dark-bg);
  color: var(--dark-text);
}

h1 {
  color: var(--light-text);
  font-weight: 800;
}

h1.dark {
  color: var(--dark-text);
  font-weight: 800;
}

h2 {
  color: var(--light-text);
  font-weight: 600;
}

h2.dark {
  color: var(--dark-text);
  font-weight: 600;
}

h3, h4 {
  color: var(--light-text);
  font-weight: 500;
}

h3.dark, h4.dark {
  color: var(--dark-text);
  font-weight: 500;
}

p {
  color: var(--light-tertiary-text);
}

p.dark {
  color: var(--dark-tertiary-text);
}


.header {
  background: var(--dark-bg);
  padding: 4px;
  & h1 {
    color: var(--dark-secondary-text);
  }
  & p {
    color: var(--dark-tertiary-text);
  }
}

.header.dark {
  background: var(--light-bg);
  padding: 4px;
  & h1 {
    color: var(--light-secondary-text);
  }
  & p {
    color: var(--light-tertiary-text);
  }
}

.article {
  background: var(--light-secondary-bg);
  padding: 4px;
}

.article.dark {
  background: var(--dark-secondary-bg);
  padding: 4px;
}
