<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"></meta>
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/styles/styles.css"> </link>
  </head>
  <body>
    <div>
      {{ content }}
    </div>
  </body>
</html>
