---
import Project from "../components/Project.astro";
import Portfolio from "../components/Portfolio.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import {Icon} from 'astro-icon/components'
// import "@fontsource/inter";
---

<BaseLayout title="Jason's Peronsal Web Page" description="Home Page">
  <article class="flex flex-col gap-4 max-w-[1120px]">
    <h2 class="text-4xl font-bold text-gray-950 text-center">About Me</h2>

    <p>
      Hello, I am <b>Jason</b>. I am an aspiring Software Developer from
      Peabody, MA. I am currently an <b
        >Applied Mathematics and Informatics Double Major
      </b> at the
      <b>University of Massachusetts Amherst</b>. As of recent I have come to
      love the state of Massachusetts and its diverse landscape as a result of
      cycling. If you are from the North Shore you may have seen my cycling
      through some of these town. <b>
        My favorite town in Massachusetts is Gloucester.
      </b>
    </p>
  </article>

  <h2 class="text-3xl font-bold text-gray-950">Personal Projects</h2>

  <Portfolio>
    <Project
      title="Local Connector"
      link="https://github.com/khazixi/Local-Connector"
      technologies={[
        "devicon:nodejs",
        "devicon:sqlite",
        "devicon:solidjs",
        "devicon:tailwindcss",
      ]}
    >
      <p>
        Fullstack Application made to help people connect to their local
        communities
      </p>
    </Project>

    <Project
      title="Personal Website"
      link="https://github.com/khazixi/Personal-Website"
      technologies={["devicon:astro", "devicon:tailwindcss"]}
    >
      <p>
        My Personal Website made with whatever technology I fancy at the time.
      </p>
    </Project>

    <Project
      title="Seatfinder"
      link="https://github.com/khazixi/Seatfinder"
      technologies={["devicon:javascript", "devicon:css3", "devicon:html5"]}
    >
      <p>
        Simple site made to help people locate their friends in UMass Amherst's
        4 dining halls.
      </p>
    </Project>

    <Project
      title="Echo Networking"
      technologies={["devicon:rust"]}
      link="https://github.com/khazixi/Echo-Server-Rust-"
    >
      <p>An Echo server in client made using no dependencies in Rust</p>
    </Project>

    <Project
      title="Currency-X-Change"
      technologies={["devicon:react", "devicon:nextjs", "devicon:redis"]}
      link="https://github.com/k1mdev/currency-x-change"
    >
      <p>A simple currency conversion site made using Next.js and Redis</p>
    </Project>

    <Project
      title="Awakening DB Creator"
      technologies={["devicon:go", "devicon:sqlite"]}
      link="https://github.com/khazixi/awakening-db"
    >
      <p>
        Simple CLI tool that creates a SQLite database of Fire Emblem Awakening
        Game Data
      </p>
    </Project>

    <Project
      title="UMass Undergraduate Law Review"
      technologies={[
        "devicon:firebase",
        "devicon:vuejs",
        "devicon:tailwindcss",
      ]}
      link="https://prelaw-b353d.web.app"
    >
      <p>
        Project made for the UMass Undergraduate Law Review Club, under Build
        Umass.
      </p>
    </Project>
  </Portfolio>

  <article class="flex flex-col gap-4 max-w-[1120px]">
    <h2 class="text-4xl font-bold text-gray-950 text-center"> Technologies I am eyeing </h2>

    <div class="grid grid-cols-4 border border-black gap-4 items-center w-fit self-center rounded overflow-hidden"> 
      <a target="_blank" href="https://svelte-5-preview.vercel.app/docs/old-vs-new" title="Svelte 5" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:svelte'/> </a>
      <a target="_blank" href="https://docs.astro.build/en/getting-started/" title="Astro Docs" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:astro' /> </a>
      <a target="_blank" href="https://www.rust-lang.org/learn" title="Rust" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:rust' /> </a>
      <a target="_blank" href="https://www.solidjs.com" title="Solid" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:solidjs' /> </a>
      <a target="_blank" href="https://fastify.dev" title="Fastify" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:fastify' /> </a>
      <a target="_blank" href="https://docs.docker.com" title="Docker" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:docker' /> </a>
      <a target="_blank" href="https://www.kernel.org" title="Linux" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='devicon:linux' /> </a>
      <a target="_blank" href="https://caddyserver.com" title="Caddy" class="hover:bg-neutral-300 p-4"> <Icon size={28} name='simple-icons:caddy' /> </a>
    </div>
  </article>

  <footer>
    <p class="text-gray-600"> Made in Astro by Jason Simmonds </p>
  </footer>
</BaseLayout>
