---
interface Props {
  state: string;
  statename: string;
}
const { state, statename = "" } = Astro.props;
---

<div data-statename={statename}>
  <Fragment set:html={state} />
</div>

<script define:vars={{ statename }} type="module">
  import { stateConfig } from "/states.js";

  function createSelector(ids) {
    return `:is(${ids.join(",")})`;
  }

  const svg = document
    .querySelector(`[data-statename=${statename}]`)
    .querySelector("svg");

  for (let [season, towns] of Object.entries(stateConfig[statename])) {
    svg.querySelectorAll(createSelector(towns)).forEach((town) => {
      town.classList.add(season)
      town.insertAdjacentHTML("afterbegin", `<title> ${town.id} </title>`);
      console.log(town.getAttribute('style'))
    });

  }
</script>

<style is:inline>
  .Fall2022{ fill: indianred; }
  .Summer2023{ fill: khaki; }
  .Fall2023{ fill: lemonchiffon; }
  .Spring2024{ fill: skyblue; }
  .Summer2024{ fill: brown; }
</style>
