<nav class="flex flex-row gap-8 p-8 w-full">
  <a href="/" class="border-b border-transparent hover:border-black p-1">
    <img src="/home.svg"/>
  </a>
  <a href="/cycling" class="border-b border-transparent hover:border-black p-1">
    <img src="/biking.svg" />
  </a>

  <div class="flex-grow"/>

  <a href="https://www.linkedin.com/in/jason-simmonds-a72806263/" class="border-b border-transparent hover:border-black p-1">
    <img src="/linkedin.svg" />
  </a>
  <a href="https://github.com/khazixi" class="border-b border-transparent hover:border-black p-1">
    <img src="/github.svg" />
  </a>
  <!-- <a href=""> -->
  <!--   <img src="/twitter.svg" /> -->
  <!-- </a> -->
</nav>
