<nav class="flex flex-row gap-8 p-8 w-full">
  <a href="index.html">
    <img src="/home.svg" />
  </a>
  <a href="cycling.html">
    <img src="/biking.svg" />
  </a>

  <div class="flex-grow"/>

  <a href="https://www.linkedin.com/in/jason-simmonds-a72806263/">
    <img src="/linkedin.svg" />
  </a>
  <a href="https://github.com/khazixi">
    <img src="/github.svg" />
  </a>
  <!-- <a href=""> -->
  <!--   <img src="/twitter.svg" /> -->
  <!-- </a> -->
</nav>
