---
interface Props {
  title: string;
  technologies: string[];
}

import { Icon } from "astro-icon/components";
const { technologies, title } = Astro.props;
---

<div class="w-56 h-60 border border-black rounded-xl">
  <h4 class="text-2xl font-bold">{title}</h4>
  <div>
    <h5 class="text-gray-900 text-lg font-semibold">Technologies</h5>
    <div class="inline-flex gap-4">
      {technologies.map((tech) => <Icon width={28} height={28} name={tech} />)}
    </div>
  </div>

  <slot />
</div>
