---
interface Props {
  title: string;
  technologies: string[];
  link: string;
}

import { Icon } from "astro-icon/components";
const { technologies, title, link } = Astro.props;
---

<div class="w-64 h-64 border border-black rounded-xl flex flex-col items-center p-4 transition duration-100 hover:ease-in hover:shadow-xl hover:translate-y-[-0.5rem] hover:border-neutral-400">
  <a href={link} target="_blank" class="text-lg font-bold text-center hover:underline">{title}</a>

  <div class="flex-grow"> </div>
  <slot />
  <div class="flex-grow"> </div>

  <div class="border-t border-black w-full">
    <h5 class="text-gray-900 text-md font-semibold">Technologies</h5>
    <div class="inline-flex gap-4">
      {technologies.map((tech) => <Icon width={28} height={28} name={tech} />)}
    </div>
  </div>
</div>
