---
// import { Fragment } from "astro/jsx-runtime"
import towns from "../assets/MATOWN.svg?raw";
import townImage from "../assets/MATOWN.svg";
import { Image } from "astro:assets";
---

<Fragment set:html={towns} />

<!-- <Image src={townImage} alt="Towns"/> -->

<script>
  // TODO: Add Vermont, Connecticut, New Hampshire maps for:
  // Vernon and Brattleboro, Enfield, and Seabrook

  function createIsSelector(ids: string[]) {
    // NOTE: :is() is a forgiving selector so missing one ID does not screw with the whole list
    return `:is(${ids.join(",")})`;
  }

  const svg = document.querySelector("svg");

  function applyColors(element: SVGSVGElement, towns: string[], color: string) {
    element.querySelectorAll(createIsSelector(towns)).forEach((town) => {
      town.setAttribute("style", `fill: ${color}`);
      town.insertAdjacentHTML("afterbegin", `<title> ${town.id} </title>`);
    });
  }

  const AmherstFall1 = [
    "#Amherst",
    "#Hadley",
    "#Northhampton",
    "#Easthampton",
    "#Holyoke",
    "#Sunderland",
    "#Leverett",
    "#Montague",
  ];

  const AmherstFall2 = [
    "#Granby",
    "#Deerfield",
    "#Greenfield",
    "#South_Hadley",
    "#Chicopee",
    "#Springfield",
  ];

  const AmherstSpring2 = [
    "#Northfield",
    "#Gill",
    "#Bernardston",
    "#Erving",
    "#Shutesbury",
    "#Hatfield",
    "#Whately",
    "#Pelham",
    "#Westhampton",
    "#Southhampton",
    "#Belchertown",
    "#West_Springfield",
    "#Westfield",
    "#Agawam",
    "#Longmeadow",
    "#Ludlow",
  ];

  const Summer1 = [
    "#Salisbury",
    "#Amesbury",
    "#Merrimac",
    "#Haverhill",
    "#Methuen",
    "#Andover",
    "#Lawrence",
    "#North_Andover",
    "#Boxford",
    "#Georgetown",
    "#Groveland",
    "#West_Newbury",
    "#Newburyport",
    "#Newbury",
    "#Rowley",
    "#Ipswich",
    "#Essex",
    "#Gloucester",
    "#Rockport",
    "#Manchester_by-the-Sea",
    "#Hamilton",
    "#Wenham",
    "#Beverly",
    "#Salem",
    "#Peabody",
    "#Danvers",
    "#Saugus",
    "#Middleton",
    "#Topsfield",
    "#Lynnfield",
    "#Lynn",
    "#Nahant",
    "#Swampscott",
    "#Marblehead",
    "#North_Reading",
    "#Reading",
    "#Wakefield",
    "#Melrose",
    "#Malden",
    "#Malden",
    "#Everett",
    "#Medford",
    "#Sommerville",
    "#Camebridge",
    "#Boston",
    "#Chelsea",
    "#Revere",
  ];

  const Summer2 = [
    "#Cambridge",
    "#Somerville",
    "#Stoneham",
    "#Winchester",
    "#Belmont",
    "#Arlington",
    "#Brookline",
    "#Watertown",
    "#Waltham",
    "#Quincy",
    "#Weymouth",
    "#Hingham",
    "#Hull",
    "#Cohasset",
    "#Scituate",
    "#Marshfield",
    "#Duxbury",
    "#Kingston",
    "#Plymouth",
    "#Bourne",
    "#Sandwich",
    "#Barnstable",
    "#Yarmouth"
  ];

  svg.classList.add('h-[200px]', 'md:h-[400px]', 'lg:h-full')

  applyColors(svg, AmherstFall1, "indianred");
  applyColors(svg, AmherstFall2, "lemonchiffon");
  applyColors(svg, AmherstSpring2, "skyblue");
  applyColors(svg, Summer1, "khaki");
  applyColors(svg, Summer2, "brown");
</script>
