---
import { MarkdownLayoutProps } from "astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}
const frontmatter = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="description" content="Jason Simmonds' Personal Website" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header>
      <Navbar />
      <h1 class="text-5xl font-bold text-center">Jason's Personal Web Page</h1>
      <p class="text-lg text-gray-800">{frontmatter.description}</p>
    </Header>
    <main class="flex items-center flex-col gap-8 px-8 py-4">
      <slot />
    </main>
  </body>
</html>
